# ignore build directories
/build*
# ignore Boost.YML-archive test binaries
third_party/boost-archive-yaml/test/test_istream
third_party/boost-archive-yaml/test/test_ostream
third_party/boost-archive-yaml/test/*.o
# ignore note file (?)
test/note.txt
# ignore Vim swap files
*.swp
# ignore VS and VS Code config directories
.vs
.vscode
# ignore any trained*.yml files created by manual test runs
trained*.yml
